<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="peanutlabs.base.url" value="http://www.peanutlabs.com/userGreeting.php" />
    <add key="peanutlabs.application.id" value="7411" />
    <add key="peanutlabs.application.key" value="d7c37372f4c53b1b35ab3ad386dcce88" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
